div#main-feed-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
}

div#border-wrapper {
    display:flex;
    padding: 0 4rem;
}

div#border-line {
    width: 100%;
    border-bottom: 1px solid grey;
    align-self: center;
}

div#border-wrapper h1{
    min-width: 25%;
}
div.feed-posts{
    min-height: 25rem;
    margin:0 3rem;
}
