div#create-post-wrapper {
    margin: 5rem 2rem 0 5rem;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 2;
}

div#create-post-wrapper p {
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
}

div.create-post-input-wrapper {
    display: flex;
    border: 2px solid grey;
    margin: 1rem 0 0 0;
    border-radius: 5px;
}

div.create-post-input-wrapper textarea {
    width: 90%;
    border: none;
    padding: .5rem;
}

button#create-post-submit {
    background: #C1B5F2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: .2s;
    height: 2rem;
    min-width: 6rem;
    align-self:center;
    margin: 1rem;
    border-radius: 5px;
}

button#create-post-submit:hover {
    background: linear-gradient(180deg, rgba(235, 27, 27, 0.2) 99.99%, rgba(235, 27, 27, 0) 100%),
        linear-gradient(180deg, #263E95 0%, rgba(196, 196, 196, 0) 100%);
    cursor: pointer;
    transition: .2s;
}

button#create-post-submit:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    ;
}