img.friend-list-picture{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

div.friend-display-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 5px;
    transition: .2s;
}

p.friend-name{
    padding: 0 .5rem;
    margin: 1rem 0;
}

div.friend-display-wrapper:hover {
    background-color:lightgray;
    cursor: pointer;
    transition: .2s;
}