@media screen and (min-width: 585px) {
    div#sidenav-wrapper {
        position: fixed;
        top:0rem;
        display: flex;
        height: 100vh;
    }

    div#sidenav {
        width: 10rem;
        background-color: #C3B6F6;
        margin: 0;
    }

    div#side-link-wrapper {
        padding: 5rem 0 0 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }

    div#side-link-wrapper p {
        padding: 0 0 0 2rem;
        margin: 0;
        height: 2rem;
        color: white;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        line-height: 32px;
        transition: .2s;
    }

    div#side-link-wrapper p:hover {
        background-color: #9f86ff;
        transition: .2s;
    }

    button#sidebar-control {
        border-radius: 0;
        background-color: #C3B6F6;
        border: none;
        color: white;
        transition: .2s;
        font-size: 1.5rem;
    }

    button#sidebar-control:hover {
        background-color: #9f86ff;
        transition: .2s;
    }

    div.sidenav-expanded {
        transform: translateX(0);
        transition: .2s
    }

    div.sidenav-collapsed {
        transform: translateX(-10rem);
        transition: .2s;
    }
    .control-icon-expanded {
        transform: translateX(0);
        transition:.2s;
    }
    .control-icon-collapsed {
        transform: rotateY(180deg);
        transition: .2s;
    }
}