div.comment-reply-wrapper{
    text-align: left;
    padding: 0 .5rem;
    margin: .5rem 1.5rem;
    border-left: 2px solid #C1B5F2;
}
p.comment-heading {
    margin: 0;
    font-size: .8rem;
}

p.comment-body {
    margin: 0;
}
