@media screen and (min-width:585px) {

    div#topnav {
        background-color:#C3B6F6;
        height: 3rem;
        position: absolute;
        top:0;
        width: 100%;
    }
    div#top-link-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .topnav-icon{
        padding: 0 .5rem;
        font-size: 2rem;
        color: white;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    }
    input#search-bar{
        width: 20rem;
    }
    img#topnav-profile-photo {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin: 0 .5rem;
    }
    div.left-group{
        display:flex;
        align-items:center;
    }
    div.right-group{
        display:flex;
        align-items:center;
        margin-left:auto;
    }
}