div.friend-list-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:3;
    position: sticky;
    top: 3rem;
    align-self: start;
    overflow-y: scroll;
    height:100vh;
}

div.friend-list-header p{
}