div.post-wrapper {
    display:flex;
    width: 80%;
    margin: 1rem auto;
    border: 2px solid grey;
    padding: 1rem;
    border-radius: 3px;
    flex-wrap: wrap;
}

div.content-heading-wrapper {
    padding: 1rem 1rem;
    text-align: left;
}

div.content-heading-wrapper h2 {
    margin: 0;
}

p.heading-date{
    margin:0;
    font-style: italic;
    font-size: .8rem;
}
div.profile-image img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}
div.content {
    padding: 0 1rem;
    text-align: left;
}
.vote-icon {
    align-self: center;
}

div.engagement-wrapper {
    display: flex;
}

div.comments-numbers {
    margin: 0 1rem;
}

div.comments-wrapper{
    width:100%;
    overflow: hidden;
}

div.expanded {
    max-height:1000vh;
    transition: .2s;
}

div.collapsed {
    max-height:0;
    transition: .2s;
}

button.show-comments{
    background-color: #C1B5F2;
    border: none;
    color: white;
    margin: 0 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
}

button.show-comments:hover {
    background-color: #a089ff;
    transition: .2s;
}