@media screen and (min-width: 585px) {

    label {
        font-size: .8rem;
        float: left;
        margin-top: .5rem;
    }
    
    div#login-wrapper {
        margin: 10rem auto;
        display:flex;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        background-color: #ffffff;
        width: 80%;
        overflow:hidden;
        max-width:650px;
    }

    div#login-text-wrapper {
        background: url("../../images/landing\ background.jpg");
        background-position: center;
        background-size: cover;
    }
    div#login-text-wrapper h3 {
        font-size: 2rem;
        margin: 2rem auto;
        padding: 0 2rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    div#login-text-wrapper p {
        margin: 3rem auto;
        padding: 0 2rem;
        font-style: italic;
    }
    div#login-form{
        padding: 2rem 2rem;
    }

    div#login-form h3 {
        margin: 0 auto;
        font-size: 2rem;
        color: #C1B5F2;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
    }

}